.main-bnt{
    cursor: pointer;
    margin-top: 15px;
    border-radius: 8px;

}
.link.main-bnt:last-child{
    padding: 0px 15px;
   
}
.main-bnt .link{
    font-size: 1.4em;
    background-color: #fff7ec;
}
.link.main-bnt{
    font-size: 1.3em;
    padding: 0px 15px;
  
}