.main-links{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 20px;
}
.box{
    width: 200px;
    height: 80px;
    border: 2px solid #9ec9e2;
    font-size: 1.4em;
    padding: 0 2%;
    border-radius: 35px;
}
.box:hover{
    border: 2px solid #fbc7c3;
}
.link{
    text-decoration: none;
    font-weight: bold;
    color: #9ec9e2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    
}
.box .link{
    margin-top: -30px;
}
.link:hover{
    color: #fbc7c3;

}
.main-links i{
    display: block;
    margin-top: 10px;
    text-align: center;
    color: #6752bd22;
    font-size: 1.4em;
}
@media  screen and (max-width: 500px){
    .main-links{
        display: block;
        
    }
    .box{
        margin-bottom: 15px;
    }
}