.main-bnt{
    margin-top: 15px;
    padding: 5px 25px;
    border-radius: 10px;
    cursor: pointer;
}
.main-bnt .link{
    font-size: 1.4em;
}
.link.main-bnt{
    font-size: 1.3em;
    padding: 0px 15px;
}