*{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    outline: 0;
    font-family: 'Hina Mincho', serif;
}
body{
    background-color: #2C3E50;
    color: #fff;
}
body,html{
    height: 100%;
}